# postgresql
DB_USERNAME=seu_user
DB_PASSWORD=sua_senha

# AWS (em test/dev, manter "test" para funcionar com LocalStack)
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=sa-east-1

# Email
SMTP_USERNAME=seu@email.com
# Senha do Aplicativo (NÃO SENHA REAL)
SMTP_PASSWORD=sua_senha_de_aplicativo

# test = usa mock, não envia a SEFAZ
# homolog = homologação SEFAZ (Necessário certificado Digital A1)
# prod = produção SEFAZ (Necessário certificado A1)
AMBIENTE=test
